{% extends 'shooble/base.html' %}
{% block body %}
    <div class="card">
        <h2 class="card-header lead display-5">{{ user_being_checked.username }} is followed by:</h2>
        {% for user_profile in is_followed_by_list %}
            <div class="card content-card m-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-lg-1 m-auto me-0">
                                    <img class="img-fluid rounded-circle" height="60em" width="60em"
                                         src="{{ user_profile.profilepic_set.get.profile_pic.url }}" alt="">
                                </div>
                                <div class="col-lg-11 py-3 ms-0">
                                    <p class="mb-0 lead">{{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                                    <a class="text-muted"
                                       href="{% url 'profile' user_profile.username %}">@{{ user_profile.username }}</a>
                                </div>
                            </div>
                            <p class="text-muted mb-0">Bio:</p>
                            <p>{{ user_profile.userbio_set.get.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}