{% extends 'shooble/base.html' %}
{% load crispy_forms_filters %}
{% block body %}
    <form action="{% url 'settings' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Save Changes</button>
    </form>
    <div class="bg-white rounded shadow">
            <div class="row">
                <form class="input-group" action="{% url 'create' %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" name="textPost" id="exampleFormControlTextarea1" rows="3"
                              placeholder="Update your bio..."></textarea>
                    <button class="d-flex btn btn-success py-4" type="submit" id="button-addon2">Post</button>
                </form>
            </div>
        </div>
    <p>To reset your password, please <a target="_blank" href="/admin/password-change">click here.</a></p>
    <form action="{% url 'upload_pic' %}" method="post" name="image" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="mb-0 mt-3">Upload a profile picture</p>
        {{ image_form|crispy }}
        <button class="btn btn-success" type="submit">Upload</button>
    </form>

    {% if img_obj %}
        <h3>Succesfully uploaded : {{ img_obj.title }}</h3>
        <img src="{{ img_obj.profile_pic.url }}" alt="connect" style="max-height:300px">
    {% endif %}
{% endblock %}